<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/cand.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <title>Candidates || JobFest </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">JobFest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="margin-right: 200px;">
            <li class="nav-item active">
              <a class="nav-link" href="/api/user/selection">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/user/feeds">Feeds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/user/employer">Post Job</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/">Predictor </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <center>
                  <form action="/api/user/logout" method="POST">
                    <button type="submit" class="btn btn-warning">Logout</button>           
                  </form><br>
                  <form action="/api/user/deleteaccount/<%= current_user.id %>" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>           
                  </form>
                </center>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="searchbox">
        <form class="form-inline my-2 my-lg-0" action="/api/user/candidates/search/" method="POST">
          <input class="form-control mr-sm-2" type="search" placeholder="Job Role" aria-label="Search" id="search" name="skillsearch" value="<%= search %>" />
          <button class="btn btn-primary my-2 my-sm-0 searchbtn" type="submit" >Search</button>
        </form>
      </div> <br>
      <div style="height: auto;">
        <% if(!users[0]) {%>
          <center><p style="margin-top: 20px;"><b>No candidates available at this moment</b></p></center>
          <% } %>
        <% users.forEach(user=>{ %>
        <div class="box">
            <div class="box1">
                <p><b>Name:</b> <%= user.username %></p>
                <p><b>Bio:</b> <%= user.textpro %></p>
                <p><b>Registerd Email:</b> <%= user.email %></p>
                <p><b>Last degree attained:</b> <%= user.lastDegree %></p>
                <p><b>Years of Experience:</b> <%= user.yoe %></p>
            </div>
            <div class="box2" >
                <p><b>Looking for jobs in:</b></p>
                <ol>
                    <% user.genre.forEach(el =>{ %>
                        <li><%= el %></li>
                    <% }) %>
                </ol>
                <p><b>Expected Salary:</b> <%= user.expectSal %></p>
                <div class="downloadcv">
                  <a href="<%= user.resume %>">Download CV</a>
                </div>
            </div>
        </div>      
        <% }) %> <br><br>
        <br>
        <br>
        <br>
      </div>
      <footer>
        <style>.heart{color:#e25555;}</style>
        <p style="color: white; font-size: 20px;">Made with <span class="heart">❤</span> in India</p>
      </footer>
</body>
</html>