<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/feeds.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <script src="https://kit.fontawesome.com/f3f0e4dcd7.js" crossorigin="anonymous"></script>
    <title>Feeds || JobFest </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">JobFest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="margin-right: 200px;">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/user/selection">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <center>
                  <form action="/api/user/logout" method="POST">
                    <button type="submit" class="btn btn-warning">Logout</button>           
                  </form>
                </center>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="feedpost">
        <a href="#" id="myBtn">Write an article<i class="fas fa-camera" style="float: right; padding-right: 30px; padding-top: 5px;"></i></a>
      </div><br>
      <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <form action="/api/user/feed/upload" method="post" class="modalform" enctype="multipart/form-data">
                <textarea id="" cols="160" rows="6" placeholder="Write something here ..." name="content"></textarea><br>
                <label for="write">Enter link of image: </label>
                <input type="text" name="linkpic" id="write" placeholder="Post the link of image..."><br>
                <h4 style="text-align: center;margin-top:10px; margin-bottom: 10px;">OR</h4>
                <input type="file" name="uppic" id="uploadbtn"><br>
                <input type="submit" value="Submit" class="btn btn-danger" style="float: right; margin-bottom: 10px;">
            </form>
        </div>
        </div> 
    </div>
      <div class="mainpanel">
        <% if(feeds[0]) {%>
          <% feeds.forEach(feed =>{ %>
            <div class="block1">
                <span><b  style="text-align: left;"><%= feed.author %></b> <%= feed.time %></span><br>
                <h6><%= feed.content %></h6>
                <a href="#">Click here to read ...</a> <br><br>
                <% if(feed.uppic) { %>
                    <img src="/uploads/<%= feed.uppic %>" alt="Image" srcset="">
                <% } else{ %>
                <img src=<%= feed.linkpic %>" alt="Image" srcset="">
                <% } %>
                <% if(username == feed.author) {%>
                <form action="/api/user/feed/delete/<%= feed._id %>" method="POST" style="margin-top: 1vh;">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </form>
                <% } %>
            </div>
            <br>
            <% }) } else{ %>
                <h4 style="margin-top: 15px;">No feeds to display</h4>
            <% } %>
      </div><br>
      <footer style="height: 40px; background-color: #2E4053; text-align: center; padding-top: 5px; border-top-left-radius: 100px;border-top-right-radius: 100px;; width: 100%;bottom: 0; position: fixed;z-index: 999;" >
        <style>.heart{color:#e25555;}</style>
        <p style="color: white; font-size: 20px;">Made with <span class="heart">❤</span> in India</p>
      </footer>
      <script src="/javascripts/feeds.js"></script>
</body>
</html>